<settings>
    
    <setting propertyKey="@Properties.ApiKey" title="@Strings.ApiKey" helpUrl="http://aqicn.org/data-platform/token/">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>

    <setting propertyKey="@Properties.UseGPS" title="@Strings.UseGPS">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.StationId" title="@Strings.StationId">
        <settingConfig type="alphaNumeric" required="false" />
    </setting>


    <!--TODO add setting to choose:-->

        <!--show data:-->
            <!--PM25-->
            <!--etc.-->

        <!--color and zones range:-->
            <!--zone1:-->
                <!--green-->
                <!--1-40-->
            <!--zone2:-->
                <!--yellow-->
                <!--41-50-->


</settings>
