<settings>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0x494848">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xBBBDBF">@Strings.ColorLightGray</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x109AD7">@Strings.ColorBlue</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>


    <!--TODO add setting to choose:-->
        <!--By City-->
        <!--By GPS in watch-->

        <!--show data:-->
            <!--PM25-->
            <!--etc.-->

        <!--color and zones range:-->
            <!--zone1:-->
                <!--green-->
                <!--1-40-->
            <!--zone2:-->
                <!--yellow-->
                <!--41-50-->
            

    <setting propertyKey="@Properties.ApiKey" title="@Strings.ApiKey" helpUrl="http://aqicn.org/data-platform/token/">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>

</settings>
